.ant-app {
  height: 100%;
}

.ant-table-wrapper {
  height: calc(100% - 94px);
  .ant-spin-nested-loading {
    height: 100%;
    .ant-spin-container {
      height: 100%;
    }
    .ant-table {
      height: 100%;
    }
  }
}

.ant-table-empty {
  .ant-table-container {
    height: 100%;
  }
  .ant-table-content {
    height: 100%;
    table {
      height: 100%;
    }
  }
}